@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  @apply text-neutral-primary;
}

/* Typography */

h1 {
  @apply lg:text-[48px] md:text-[36px] text-[32px] font-extrabold leading-[120%];
}

h2 {
  @apply lg:text-[32px] md:text-[28px] text-[24px] font-bold leading-[125%];
}

h3 {
  @apply lg:text-[24px] md:text-[22px] text-[20px] font-semibold leading-[120%];
}

h4 {
  @apply lg:text-[18px] md:text-[18px] text-[16px] font-medium leading-[120%];
}

h5 {
  @apply lg:text-[16px] md:text-[16px] text-[14px] font-semibold leading-[120%];
}



/* Body Text */

.body-large {
  @apply lg:text-[20px] md:text-[18px] text-[18px] font-normal leading-[150%];
}

.body-regular {
  @apply text-[16px] font-normal leading-[150%];
}

.body-small {
  @apply text-[14px] font-normal leading-[140%];
}

.body-xsmall {
  @apply text-[12px] font-normal leading-[140%];
}

/* Buttons */

.button {
  @apply text-[14px] font-medium leading-[140%];
}

.label {
  @apply text-[14px] font-medium leading-[140%];
}

/* OTP */

.custom-otp-input {
  @apply sm:w-[51px] w-10 py-1 text-2xl appearance-none text-center transition-all duration-200 rounded-[8px] bg-neutral-muted;
}

.custom-otp-input:focus {
  @apply outline-none border-primary-300;
}

/* PrimeVue */

.p-iconfield .p-inputicon {
  @apply !text-neutral-secondary;
}

.p-iconfield .p-inputtext {
  @apply !w-full py-2 !rounded-lg border-neutral-line;
}

.p-iconfield .p-inputtext::placeholder {
  @apply body-small text-neutral-secondary;
}

/* Filters */

.own-filter .p-select {
  height: 48px;
  flex-direction: row-reverse;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05) !important;
  border-radius: 8px;
  padding: 0 3px;
}

.own-filter .p-select .p-inputtext {
  line-height: 1rem;
  border: none !important;
  background: none !important;
  font-size: 14px;
}

.own-filter .p-select .p-dropdown-trigger {
  width: 16px;
}

.own-filter .p-select .p-placeholder {
  @apply font-normal text-neutral-secondary text-sm;
}

.own-filter .p-select-label {
  @apply !pr-[7px];
}

.p-popover-content {
  @apply !p-0;
}

.p-textarea {
  @apply border-none bg-neutral-muted text-neutral-primary !important;
}

/* Tags */

.p-tag {
  @apply !border !rounded-lg !text-xs !font-normal border-neutral-line;
}

/* Input */

.p-inputtext {
  border-radius: 8px !important;
  border-color: var(--neutral-line) !important;
  background: var(--neutral-surface) !important;
  color: var(--neutral-primary) !important;
  font-size: 14px !important;
  font-weight: 500;
}

.dark .p-inputtext {
  background: #2A2A2A !important;
  color: #ffffff !important;
}

.p-inputtext::placeholder {
  color: var(--neutral-secondary) !important;
  font-size: 14px;
  font-weight: 300;
}

.p-password .p-inputtext {
  width: 100% !important;
}

/* Select */

.p-placeholder {
  color: var(--neutral-secondary) !important;
  font-size: 14px;
  font-weight: 300;
}

.p-select {
  border-radius: 8px !important;
  border-color: var(--neutral-line) !important;
  background: var(--neutral-surface) !important;
  box-shadow: none !important;
  font-size: 14px !important;
}

.dark .p-select {
  background: #2A2A2A !important;
  color: #ffffff !important;
}

/* Table */

.p-datatable-thead tr th {
  background: var(--neutral-background) !important;
  font-size: 14px;
  font-weight: 500;
  padding: 13px 24px !important;
  border-bottom: 1px solid var(--neutral-line);
  color: var(--neutral-secondary);
}

.p-datatable-tbody tr {
  border-bottom: 1px solid var(--neutral-line);
  border-top: 1px solid var(--neutral-line);
}

.p-datatable-tbody tr:hover {
  background: var(--neutral-muted);
}

.p-datatable .p-datatable-footer {
  border: none !important;
  background-color: var(--neutral-surface);
}

.p-datatable .p-datatable-footer {
  @apply dark:bg-neutral-surface;
}

/* Pagination */

.p-paginator {
  background: transparent;
  border: none;
}

.p-paginator-first .p-icon,
.p-paginator-last .p-icon,
.p-paginator-prev .p-icon,
.p-paginator-next .p-icon {
  @apply text-primary-100;
}


.p-paginator-page {
  @apply !text-neutral-primary;
}
.p-paginator-content button {
  @apply !text-neutral-primary;
}
.p-paginator-page.p-paginator-page-selected {
  @apply !bg-primary-300 !text-neutral-inverted;
}

/* Drawer */

.p-drawer-header {
  @apply !hidden;
}

.p-drawer-content {
  @apply !p-0;
}

/* Toast */

.p-toast {
  @apply !w-[88%] sm:!w-[40%] xl:!w-[28%];
}